##omron indutive
#[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
##	Z_MAX on mcu_z
##	If your probe is NO instead of NC, add change pin to !z:P0.10
#pin: ^PG13
##pin: ^!PB7
#x_offset: 0
#y_offset: 25.0
##z_offset: 2.860
#speed: 5.0
##speed: 10.0  #termal measure
##samples: 1  #termal measure
#samples: 4
#samples_result: median
##samples_result: average
#lift_speed: 10.0  #termal
##sample_retract_dist: 1.5  #termal measure
#sample_retract_dist: 2.0
#samples_tolerance: 0.006
##samples_tolerance: 0.05  #termal measure
##samples_tolerance_retries: 4
#samples_tolerance_retries: 10
#activate_gcode: 
##            M300 S150 P100
#                    SET_LED LED=my_neopixel_hotend RED=0.36   GREEN=0.04    BLUE=0
##                    SET_LED LED=my_neopixel_long RED=0.89 GREEN=0.95 BLUE=1 
##                    SET_LED LED=my_neopixel_long RED=0    GREEN=0.50    BLUE=0 
#deactivate_gcode:
#                    M300 S20 P100
#                    SET_LED LED=my_neopixel_hotend RED=0    GREEN=0    BLUE=0.6
#                    SET_PIN PIN=caselight VALUE=100
#                    SET_LED LED=my_neopixel_hotend RED=0.89 GREEN=0.95 BLUE=1.0
#                    SET_PIN PIN=caselight VALUE=50
#                    SET_LED LED=my_neopixel_hotend RED=0    GREEN=0.6  BLUE=0 
##--------------------------------------------------------------------------
##Klick Probe
[probe]
pin: ^PG15
x_offset: 0
y_offset: 21.00 #(updated from 19.75)
z_offset: 7.420  #7.390 # 6.42
speed: 5.0
samples: 4
samples_result: median
sample_retract_dist: 2.55 #1.55
samples_tolerance: 0.01
samples_tolerance_retries: 10
lift_speed: 10.0                   
activate_gcode: 
#            M300 S150 P100
                    SET_LED LED=my_neopixel_hotend RED=0.36   GREEN=0.04    BLUE=0
#                    SET_LED LED=my_neopixel_long RED=0.89 GREEN=0.95 BLUE=1 
#                    SET_LED LED=my_neopixel_long RED=0    GREEN=0.50    BLUE=0 
deactivate_gcode:
                    M300 S20 P100
                    SET_LED LED=my_neopixel_hotend RED=0    GREEN=0    BLUE=0.6
                    SET_PIN PIN=caselight VALUE=100
                    SET_LED LED=my_neopixel_hotend RED=0.89 GREEN=0.95 BLUE=1.0
                    SET_PIN PIN=caselight VALUE=50
                    SET_LED LED=my_neopixel_hotend RED=0    GREEN=0.6  BLUE=0 

[z_calibration]
probe_nozzle_x: 271.700 #273.800
probe_nozzle_y: 351.800
#   The X and Y coordinates (in mm) for clicking the nozzle on the
#   Z endstop.
probe_switch_x: 268.000
probe_switch_y: 332.000
#   The X and Y coordinates (in mm) for clicking the probe's switch
#   on the Z endstop.
probe_bed_x: 271.65 #default from relative_reference_index of bed_mesh
probe_bed_y: 78.33  #default from relative_reference_index of bed_mesh
#   The X and Y coordinates (in mm) for probing on the print surface
#   (e.g. the center point) These coordinates will be adapted by the
#   probe's X and Y offsets. The default is the relative_reference_index
#   of the configured bed_mesh. It will raise an error if there is no
#   probe_bed site and no bed_mesh with a relative_reference_index
#   configured.
switch_offset: 0.075 #0.285  #0.360 #0.20 #0.245   #0.400 #0.465 #0.503  #0.423
#   The trigger point offset of the used mag-probe switch.
#   This needs to be fined out manually. More on this later
#   in this section..
max_deviation: 5.0 #1.2
#   The maximum allowed deviation of the calculated offset.
#   If the offset exceeds this value, it will stop!
#   The default is 1.0 mm.
samples: 3 # default from "probe:samples" section
#   The number of times to probe each point. The probed z-values
#   will be averaged. The default is from the probe's configuration.
samples_tolerance: 0.01 #default from "probe:samples_tolerance" section
#   The maximum Z distance (in mm) that a sample may differ from other
#   samples. The default is from the probe's configuration.
samples_tolerance_retries: 10 # default from "probe:samples_tolerance_retries" section
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. The default is from the probe's configuration.
samples_result: median  #default from "probe:samples_result" section
#   The calculation method when sampling more than once - either
#   "median" or "average". The default is from the probe's configuration.
clearance: 10.0  # *probe:z_offset
#   The distance in mm to move up before moving to the next
#   position. The default is two times the z_offset from the probe's
#   configuration.
position_min: -5.0  #default from "stepper_z:position_min" section.
#   Minimum valid distance (in mm) used for probing move. The
#   default is from the Z rail configuration.
speed: 300 #100
#   The moving speed in X and Y. The default is 50 mm/s.
lift_speed: 20 # default from "probe:lift_speed" section
#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples and clearance moves. The default is from the probe's
#   configuration.
probing_speed: 8 # default from "stepper_z:homing_speed" section.
#   The fast probing speed (in mm/s) used, when probing_first_fast
#   is activated. The default is from the Z rail configuration.
probing_second_speed: 5 # default from "stepper_z:second_homing_speed" section.
#   The slower speed (in mm/s) for probing the recorded samples.
#   The default is second_homing_speed of the Z rail configuration.
probing_retract_dist: 5 # default from "stepper_z:homing_retract_dist" section.
#   Distance to backoff (in mm) before probing the next sample.
#   The default is homing_retract_dist from the Z rail configuration.
probing_first_fast: true
#   If true, the first probing is done faster by the probing speed.
#   This is to get faster down and the result is not recorded as a
#   probing sample. The default is false.
start_gcode: Attach_Probe
#   A list of G-Code commands to execute prior to each calibration command.
#   See docs/Command_Templates.md for G-Code format. This can be used to
#   attach the probe.
#before_switch_gcode: Attach_Probe
#   A list of G-Code commands to execute prior to each probing on the
#   mag-probe. See docs/Command_Templates.md for G-Code format. This can be
#   used to attach the probe after probing on the nozzle and before probing
#   on the mag-probe.
end_gcode: Dock_Probe
#   A list of G-Code commands to execute after each calibration command.
#   See docs/Command_Templates.md for G-Code format. This can be used to
#   detach the probe afterwards.

[gcode_macro CALIBRATE_Z]
rename_existing: BASE_CALIBRATE_Z
gcode:
    CG28
    M117 Z-Calibration..
    LOWERCURRENT
    #_SET_LOWER_STEPPER_CURRENT  # I lower the stepper current for homing and probing 
    Attach_Probe                # a macro for fetching the probe first
    BASE_CALIBRATE_Z
    Dock_Probe                # and parking it afterwards
    RESETCURRENT
    #_RESET_STEPPER_CURRENT      # resetting the stepper current
    M117